In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests

In [2]:
#連上Finmind取得及時的數據
url = "https://api.finmindtrade.com/api/v4/login"
parload = {
    "user_id": "user_id",
    "password": "password",
}
data = requests.post(url, data=parload)
data=data.json()
my_token=data['token']

In [18]:
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockPrice",
    "data_id": "2330",
    "start_date": "2020-01-01",
    "end_date": "2021-06-03",
    "token":my_token # 參考登入，獲取金鑰
}
resp = requests.get(url, params=parameter)
data = resp.json()
df = pd.DataFrame(data["data"])
df

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2020-01-02,2330,33282120,11224165450,332.5,339.0,332.5,339.0,8.0,17160
1,2020-01-03,2330,42023268,14295651580,344.0,345.0,335.5,339.5,0.5,20545
2,2020-01-06,2330,45677057,15210531318,333.0,334.5,332.0,332.0,-7.5,22944
3,2020-01-07,2330,51746181,17053282011,332.5,333.0,326.5,329.5,-2.5,22362
4,2020-01-08,2330,37913748,12484410088,325.0,333.0,325.0,329.5,0.0,18228
...,...,...,...,...,...,...,...,...,...,...
338,2021-05-28,2330,30720737,18082265480,587.0,592.0,582.0,590.0,8.0,31581
339,2021-05-31,2330,31557426,18751716595,595.0,597.0,590.0,597.0,7.0,29798
340,2021-06-01,2330,18405285,10985893229,598.0,599.0,595.0,598.0,1.0,20318
341,2021-06-02,2330,22416789,13362065937,600.0,600.0,593.0,595.0,-3.0,25170
342,2021-06-03,2330,31703679,18939839664,600.0,600.0,596.0,596.0,1.0,20749

In [13]:
#取得個股的融資卷增減量(張) (data2)
parameter = {
    "dataset": "TaiwanStockMarginPurchaseShortSale",
    "data_id": "2603",
    "start_date": "2020-01-01",
    "token": my_token, # 參考登入，獲取金鑰
}
data2 = requests.get(url, params=parameter).json()
data2 = pd.DataFrame(data2['data'])
data2=data2[["MarginPurchaseTodayBalance","MarginPurchaseYesterdayBalance","ShortSaleTodayBalance","ShortSaleYesterdayBalance"]]
data2["MarginPurchaseVariation"]=data2["MarginPurchaseTodayBalance"]-data2["MarginPurchaseYesterdayBalance"]
data2["ShortSaleVariation"]=data2["ShortSaleTodayBalance"]-data2["ShortSaleYesterdayBalance"]
data2

data2=data2.drop(343,axis=0)
data2

,MarginPurchaseTodayBalance,MarginPurchaseYesterdayBalance,ShortSaleTodayBalance,ShortSaleYesterdayBalance,MarginPurchaseVariation,ShortSaleVariation
0,37284,37295,37,31,-11,6
1,37288,37284,120,37,4,83
2,39840,37288,158,120,2552,38
3,39195,39840,116,158,-645,-42
4,39501,39195,84,116,306,-32
...,...,...,...,...,...,...
338,319856,278896,30160,26768,40960,3392
339,315497,319856,30408,30160,-4359,248
340,352092,315497,33895,30408,36595,3487
341,328326,352092,31775,33895,-23766,-2120
342,338216,328326,33326,31775,9890,1551

In [35]:
#取得個股的股利,本益比,淨值比(data3)
parameter = {
    "dataset": "TaiwanStockPER",
    "data_id": "2330",
    "start_date": "2020-01-01",
    "token": my_token, # 參考登入，獲取金鑰
}
data3 = requests.get(url, params=parameter).json()
data3 = pd.DataFrame(data3['data'])
data3=data3.drop(["date","stock_id"],axis=1)

data3=data3.drop(343,axis=0)
data3

     dividend_yield    PER   PBR
0              2.36  26.69  5.54
1              2.36  26.73  5.55
2              2.41  26.14  5.42
3              2.43  25.94  5.38
4              2.43  25.94  5.38
..              ...    ...   ...
338            1.69  28.30  7.89
339            1.68  28.63  7.98
340            1.67  28.68  8.00
341            1.68  28.54  7.96
342            1.68  28.59  7.97

[343 rows x 3 columns]

In [11]:
#取得大盤的融資餘額(百萬)以及融卷張數 (data4)
parameter = {
    "dataset": "TaiwanStockTotalMarginPurchaseShortSale",
    "start_date": "2020-01-01",
    "token": my_token, # 參考登入，獲取金鑰
}
data4 = requests.get(url, params=parameter).json()
data4 = pd.DataFrame(data4['data'])[["TodayBalance","name"]]
data4=data4[~data4['name'].isin(["MarginPurchase"])]
MarginPurchaseMoney=data4[data4["name"]=="MarginPurchaseMoney"].drop(columns="name")
MarginPurchaseMoney.rename(columns={"TodayBalance":"MarginPurchaseMoney"})
MarginPurchaseMoney=MarginPurchaseMoney["TodayBalance"]/10000000
MarginPurchaseMoney=MarginPurchaseMoney.to_frame().rename(columns={"TodayBalance":"MarginPurchaseMoney"})
ShortSale=data4[data4["name"]=="ShortSale"].drop(columns="name")
ShortSale=ShortSale.rename(columns={"TodayBalance":"Shortsale"})
mod=list(range(len(df)))
MarginPurchaseMoney=MarginPurchaseMoney.set_axis(mod)
ShortSale=ShortSale.set_axis(mod)
data4=MarginPurchaseMoney.join(ShortSale)
data4

data4=data4.drop(343,axis=0)
data4

     MarginPurchaseMoney  Shortsale
0             14560.4286     654584
1             14461.7307     652415
2             14546.1073     690772
3             14459.4678     691277
4             14369.2800     662743
..                   ...        ...
338           23336.5365     556327
339           23404.7805     551036
340           24012.6099     563095
341           24049.8196     550856
342           24595.8470     559529

[343 rows x 2 columns]

In [29]:
#大盤指數,與漲跌點數
data5 = pd.read_csv('TAIEX.csv')
data5=data5.iloc[::-1]
mod=list(range(len(df)))
data5=data5.set_axis(mod).drop(["日期","報酬指數值",'漲跌百分比'],axis=1)
data5.columns = ['大盤指數','漲跌點數']
data5

         大盤指數    漲跌點數
0    12100.48  103.34
1    12110.43    9.95
2    11953.36 -157.07
3    11880.32  -73.04
4    11817.10  -63.22
..        ...     ...
338  16870.86  269.25
339  17068.43  197.57
340  17162.38   93.95
341  17165.04    2.66
342  17246.16   81.12

[343 rows x 2 columns]

In [60]:
#將多張dataframe合併
df=df.join(data2)
df=df.join(data3)
df=df.join(data4)
df=df.join(data5)
df

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,...,ShortSaleYesterdayBalance,MarginPurchaseVariation,ShortSaleVariation,dividend_yield,PER,PBR,MarginPurchaseMoney,Shortsale,大盤指數,漲跌點數
0,2020-01-02,2330,33282120,11224165450,332.5,339.0,332.5,339.0,8.0,17160,...,31,-11,6,2.36,26.69,5.54,14560.4286,654584,12100.48,103.34
1,2020-01-03,2330,42023268,14295651580,344.0,345.0,335.5,339.5,0.5,20545,...,37,4,83,2.36,26.73,5.55,14461.7307,652415,12110.43,9.95
2,2020-01-06,2330,45677057,15210531318,333.0,334.5,332.0,332.0,-7.5,22944,...,120,2552,38,2.41,26.14,5.42,14546.1073,690772,11953.36,-157.07
3,2020-01-07,2330,51746181,17053282011,332.5,333.0,326.5,329.5,-2.5,22362,...,158,-645,-42,2.43,25.94,5.38,14459.4678,691277,11880.32,-73.04
4,2020-01-08,2330,37913748,12484410088,325.0,333.0,325.0,329.5,0.0,18228,...,116,306,-32,2.43,25.94,5.38,14369.2800,662743,11817.10,-63.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,2021-05-28,2330,30720737,18082265480,587.0,592.0,582.0,590.0,8.0,31581,...,26768,40960,3392,1.69,28.30,7.89,23336.5365,556327,16870.86,269.25
339,2021-05-31,2330,31557426,18751716595,595.0,597.0,590.0,597.0,7.0,29798,...,30160,-4359,248,1.68,28.63,7.98,23404.7805,551036,17068.43,197.57
340,2021-06-01,2330,18405285,10985893229,598.0,599.0,595.0,598.0,1.0,20318,...,30408,36595,3487,1.67,28.68,8.00,24012.6099,563095,17162.38,93.95
341,2021-06-02,2330,22416789,13362065937,600.0,600.0,593.0,595.0,-3.0,25170,...,33895,-23766,-2120,1.68,28.54,7.96,24049.8196,550856,17165.04,2.66
342,2021-06-03,2330,31703679,18939839664,600.0,600.0,596.0,596.0,1.0,20749,...,31775,9890,1551,1.68,28.59,7.97,24595.8470,559529,17246.16,81.12

In [62]:
df.columns=["日期","股票編號","當日成交量","當日成交金額","開盤價","最高價","最低價","收盤價","買賣價差","周轉率","當日融資","昨日融資","當日融卷","昨日融卷","融卷變化","融資變化","殖利率","本益比","股價淨值比","大盤融資餘額(百萬)","大盤融卷量","大盤指數","大盤漲跌"]

In [64]:
for column in df:
    print(column)

日期
股票編號
當日成交量
當日成交金額
開盤價
最高價
最低價
收盤價
買賣價差
周轉率
當日融資
昨日融資
當日融卷
昨日融卷
融卷變化
融資變化
殖利率
本益比
股價淨值比
大盤融資餘額(百萬)
大盤融卷量
大盤指數
大盤漲跌

In [65]:
df

,日期,股票編號,當日成交量,當日成交金額,開盤價,最高價,最低價,收盤價,買賣價差,周轉率,...,昨日融卷,融卷變化,融資變化,殖利率,本益比,股價淨值比,大盤融資餘額(百萬),大盤融卷量,大盤指數,大盤漲跌
0,2020-01-02,2330,33282120,11224165450,332.5,339.0,332.5,339.0,8.0,17160,...,31,-11,6,2.36,26.69,5.54,14560.4286,654584,12100.48,103.34
1,2020-01-03,2330,42023268,14295651580,344.0,345.0,335.5,339.5,0.5,20545,...,37,4,83,2.36,26.73,5.55,14461.7307,652415,12110.43,9.95
2,2020-01-06,2330,45677057,15210531318,333.0,334.5,332.0,332.0,-7.5,22944,...,120,2552,38,2.41,26.14,5.42,14546.1073,690772,11953.36,-157.07
3,2020-01-07,2330,51746181,17053282011,332.5,333.0,326.5,329.5,-2.5,22362,...,158,-645,-42,2.43,25.94,5.38,14459.4678,691277,11880.32,-73.04
4,2020-01-08,2330,37913748,12484410088,325.0,333.0,325.0,329.5,0.0,18228,...,116,306,-32,2.43,25.94,5.38,14369.2800,662743,11817.10,-63.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,2021-05-28,2330,30720737,18082265480,587.0,592.0,582.0,590.0,8.0,31581,...,26768,40960,3392,1.69,28.30,7.89,23336.5365,556327,16870.86,269.25
339,2021-05-31,2330,31557426,18751716595,595.0,597.0,590.0,597.0,7.0,29798,...,30160,-4359,248,1.68,28.63,7.98,23404.7805,551036,17068.43,197.57
340,2021-06-01,2330,18405285,10985893229,598.0,599.0,595.0,598.0,1.0,20318,...,30408,36595,3487,1.67,28.68,8.00,24012.6099,563095,17162.38,93.95
341,2021-06-02,2330,22416789,13362065937,600.0,600.0,593.0,595.0,-3.0,25170,...,33895,-23766,-2120,1.68,28.54,7.96,24049.8196,550856,17165.04,2.66
342,2021-06-03,2330,31703679,18939839664,600.0,600.0,596.0,596.0,1.0,20749,...,31775,9890,1551,1.68,28.59,7.97,24595.8470,559529,17246.16,81.12